<div class="position" id="resp-position">
  <ul id="resp-ul">
    <li id="card1">

<div class="card">
         <div class="card__side card__side_front">
            <div class="flex__1">
               <p class="card__side__name-bank">Concorra ao sorteio.</p>
               <div class="card__side__chip"></div>
               <p class="card__side__name-person">Emanuel Victor Lima Silva</p>
            </div>
         </div>
         <div class="card__side card__side_back">
            <div class="card__side__black"></div>
            <p class="card__side__number">Não é golpe</p>
            <div class="flex__2">
               <p class="card__side__other-numbers card__side__other-numbers_1">xx/xx</p>
               <p class="card__side__other-numbers card__side__other-numbers_2">xxx</p>
               <div class="card__side__photo">Dev</div>
               <div class="card__side__debit">debit</div>
            </div>
         </div>
      </div>
    </li>

    <li>
      <div class="position-inputs">
      <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nome do titular</label>
      </div>
      </div>
      <div class="position-inputs">
      <div class="group">
        <input required="" type="text" class="input">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>N° do cartão</label>
      </div>
      </div>
      <div class="position-inputs">
        <div class="group">
          <input required="" type="text" class="input">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>CPF</label>
        </div>
        </div>

    </li>
  </ul>
</div>
