<div class="position" id="resp-position">
<div class="card" id="resp-card">
  <i class="fa-brands fa-python fa-2xl" style="color: #ffffff;"></i>
  <div class="card__content">
    <p class="card__title">Python</p>
    <p class="card__description">Estou desenvolvendo projetos em python, envolvendo busca de dados e automatizações que acabam com tarefas repetitivas e cansativas.</p>
  </div>
</div>

<div class="card" id="resp-card">
  <i class="fa-brands fa-angular fa-2xl" style="color: #ffffff;"></i>  <div class="card__content">
    <p class="card__title">Angular.ts</p>
    <p class="card__description">Estou desenvolvendo sites web com angular e typescript. É um framework fácil e divertido de aprender.</p>
  </div>
</div>

<div class="card" id="resp-card">
  <i class="fa-brands fa-js fa-2xl" style="color: #ffffff;"></i>  <div class="card__content">
    <p class="card__title">Java Script</p>
    <p class="card__description">É a linguagem de programação que tenho mais afinidade no momento, principalmente na parte do front-end na criação de Web sites.</p>
  </div>
</div>
</div>
