<section class="section-sobre" id="sobre">

  <ul id="resp-ul">
      <div data-aos="fade-up-right">
      <li><h1 id="resp-h1">Sobre mim</h1></li>
      </div>

      <div data-aos="fade-up-left">
          <li>
              <p id="resp-p">
                Sou um desenvolvedor em formação, finalizando o curso técnico em Desenvolvimento de Sistemas. Tenho interesse em seguir na área de desenvolvimento web, com ênfase no back-end, utilizando linguagens como Python, JavaScript e C#. Estou sempre buscando aprimorar meus conhecimentos e acompanhar as melhores práticas para criar soluções robustas e eficientes.
              </p>
        </li>
      </div>
  </ul>
