<!-- 1 -->
<div class="position">
<div class="card bg-transparent mb-3">
  <div class="card-header">Form-Validate</div>
  <div class="card-body">
    <h5 class="card-title">Fomulario validador</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!-- 2 -->
<div class="card bg-transparent mb-3">
  <div class="card-header">Consultoria</div>
  <div class="card-body">
    <h5 class="card-title">Prototipo básico</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<!-- 3 -->
<div class="card bg-transparent mb-3">
  <div class="card-header">Calculadora</div>
  <div class="card-body">
    <h5 class="card-title">Calculadora de Triangulo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
